.btn-success {
  background-color: #007816;
}

.btn-success {
  background-color: #007816;
}

header {
  background-color: lightgray;
  display: none;
  height: 100px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
}

.header h2 {
  color: #007816;
}

.header .logo {
  width: 175px;
  position: relative;
  bottom: 10px;
}

nav a {
  color: white !important;
  display: inline-block;
  margin: 0 5px;
  width: 100px;
}

nav .active {
  background-color: #007816;
}

.vehicle-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(345px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
}

.vehicle-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 0.5rem;
  margin: 20px 0 0 0;
}

.vehicle-info input, .vehicle-info select {
  border: 1px solid gray;
  outline: none;
  padding: 0 10px;
  border-radius: .25em;
  margin: 0 0 0 10px;
  width: 70%;
}

.vehicle-info select {
  width: 70%;
}

.vehicle-info button {
  background-color: #007816;
  color: white;
  border: none;
  border-radius: .25em;
  padding: 2px 10px;
}

.vehicle-info .vin input {
  background-color: lightgray;
  width: 63%;
  margin: 0;
}

.vehicle-info .unit input {
  margin: 0 0 0 38px;
}

.vehicle-eval {
  max-height: 115px;
  max-width: 345px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 0.5rem;
  background-color: #0056a9;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  margin: 20px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vehicle-eval input {
  border: 1px solid lightgray;
  outline: none;
  padding: 0 10px;
  border-radius: .25em;
  height: 26px;
}

.vehicle-eval .cuwa, .vehicle-eval .delete-value, .vehicle-eval .repair-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vehicle-eval .cuwa label, .vehicle-eval .delete-value label, .vehicle-eval .repair-cost label {
  margin: 0;
}

.list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin: 20px 0;
}

.carview-main {
  height: auto;
  width: 345px;
  margin: 20px 0;
}

.carone, .cartwo, .carthree {
  display: none;
}

.entry-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: .5em;
}

.info-entry {
  padding: 0 0 0 10px;
  margin: 20px 0;
  border: 1px solid #353535;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-entry h5 {
  display: inline-block;
  margin: 0;
}

.info-entry input {
  outline: none;
  padding: 0 10px;
  background-color: lightgray;
  border: none;
  border-radius: 0 10px 10px 0;
  width: 75px;
}

.data-entry {
  padding: 0 0 0 10px;
  margin: 20px 0;
  border: 1px solid #353535;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.data-entry h5 {
  display: inline-block;
  margin: 0;
}

.data-entry input {
  outline: none;
  padding: 0 10px;
  background-color: lightgray;
  border: none;
  border-radius: 0 10px 10px 0;
  width: 60px;
}

.data-entry .second-entry {
  border-radius: 0;
}

@media (min-width: 768px) {
  header {
    display: block;
  }
  .list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 200px 1fr 1fr;
        grid-template-columns: 200px 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    max-width: 690px;
    margin: 20px auto;
  }
  .carview-main {
    height: 300px;
    width: 500px;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / span 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / span 3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .carone, .cartwo, .carthree {
    display: block;
    width: 100%;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (min-width: 992px) {
  nav {
    height: 28px;
  }
  nav a {
    padding: 0 15px !important;
  }
  .vehicle-wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }
  .vehicle-info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: .75fr 1fr;
        grid-template-columns: .75fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 0rem;
    margin: 20px 0 0 0;
  }
  .vehicle-info input, .vehicle-info select {
    border: 1px solid gray;
    outline: none;
    padding: 0 10px;
    border-radius: .25em;
    margin: 0 0 0 10px;
    width: 74%;
  }
  .vehicle-info select {
    width: 74%;
  }
  .vehicle-info .vin {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .vehicle-info .vin input {
    width: 69%;
  }
  .vehicle-info .unit {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .vehicle-info .unit input {
    margin: 0 0 0 10px;
    width: 65%;
  }
  .vehicle-info .mileage {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .vehicle-info .mileage input {
    width: 55%;
  }
  .vehicle-info .location {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .vehicle-info .title-type {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 4;
    grid-row: 4;
  }
  .vehicle-eval {
    -ms-grid-column-align: end;
        justify-self: end;
    width: 345px;
  }
  .entry-wrapper {
    grid-gap: 2em;
  }
}
